#imgtopo{
    margin-left: -1.2%;
    height: 60%;
    width: 50%;
    width: 54%;
    margin-top: 2%;
    --margin-left: -1.2%;
    --height: 500px;
    --margin-top: 15px;
    --border-radius: 10px;
    --border-style: outset;
    --border-color: white;
}

/*Ou colocar a imagem de fundo na metade da tela*/
#titulo{
    --cursor: pointer;
    --background-color: rgb(114, 73, 138);
    --border: fixed;
    --margin: fixed;
    display: block;
  --border-block: 50px dashed red;
    --padding: 5% 10px 10% ;
    padding: 3% 1% 1% ;

    margin-left: 56%;
    margin-right: 0%;
    margin-top: -34%;
    margin-bottom: 10%;
    --margin-bottom: 100px;
    height: 50%;
    --heght:500px
    text-decoration: none;
     color: rgb(179, 60, 149);
    --border-radius: 10px;
    --border-top: solid;
    --border-right: solid;
    --border-style: outset;
    border-color: white;
    --border-spacing: 50px;
    font-size: 60px;
    --font-display: block;
    text-align: center;
    text-shadow: 
    -1px -1px 0 black,
    -1px -1px 0 black,
    -1px -1px 0 black,
    -1px -1px 0 black;
    --box-sizing: border-box;
}
/*
#titulo{
    --cursor: pointer;
    background-color: rgb(114, 73, 138);
@@ -49,7 +87,32 @@
    
    
}
*/

#subtitulo{
    --box-sizing: border-box;
    --background-color:  rgb(114, 73, 138);
    text-align: center;
    margin-top: 5%;
    width: 102.4%;
    margin-left: -1.2%;
    color: rgb(179, 60, 149);
    --border-radius: 13px;
    --border-style: ridge;
    --border-color: white;
    --border-width: 5px;
    text-shadow: 
    -1px -1px 0 black,
    -1px -1px 0 black,
    -1px -1px 0 black,
    -1px -1px 0 black;
   --text-decoration:none;
   --overflow:visible;
   font-size: 36px;
}

/*
#subtitulo{
    box-sizing: border-box;
    background-color:  rgb(114, 73, 138);
@@ -73,6 +136,7 @@
}
*/

.texto1{
    font-size: 23px;
    margin-left: 2%;
    --text-align:center;
}

#imgmeio{
    width: 50%;
    margin-top: -60%;
    --margin-top: -610px;
    margin-left: 48%;
    margin-bottom: 2%;
    margin-bottom: -1.5%;
    --border-style: solid;
    --border-color: rgb(114, 73, 138);
    padding: 1% 0;
   --padding: 20px 0;
    text-align: left;
    --clear:both;
}

  .footerlogo img {
    max-width: 13%;
    --max-width: 100px;
    --border-style: double;
    --border-color: blueviolet;
  }

  .columns {
    display: flex;
    justify-content: space-between;

    margin-top: 2%;
    --margin-top: 20px;
  }
  
  .column {
    flex: 1;
    margin: 0 10px;
    --margin: 0 1%;
  }
  
  .column h3 {
    font-size: 18px;
    margin-bottom: 10%;
    --margin-bottom: 10px;
    color: blueviolet;
  }
  
  .column p {
    font-size: 14px;
    color: plum;
  }